.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black; /* black background for footer */
    color: white; /* white text color */
    padding: 20px 0;
  }
  
  .footer-line {
    width: 100%;
    height: 2px;
    background-color: white; /* white color for the lines */
  }
  
  .top-line {
    margin-bottom: 10px; /* space between top line and text */
  }
  
  .footer-content p {
    margin: 0;
    font-size: 14px;
    text-align: center; /* ensures the text is centered */
  }
  
  .bottom-line {
    margin-top: 10px; /* space between text and bottom line */
  }
  